body {
  font-family: 'Nunito', sans-serif;
  background-color: #f3edf9;
  color: #3a2e4d;
  margin: 40px;
}

h2 {
  color: #5b3e96;
  margin-top: 25px;
}

h1 {
  font-weight: 600;
  color: #5b3e96;
  background-color: #e2d2f7;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
}

p {
  font-weight: 300;
  background-color: #ffffff;
  color: #333;
  padding: 12px 18px;
  border-radius: 8px;
  line-height: 1.6;
  margin: 15px auto;
  max-width: 700px;
}

.istaknuto {
  color: #5b3e96;
  font-weight: 600;
}

.lista1 {
  list-style: square;
  background-color: #ffffff;
  padding: 15px;
  display: inline-block;
  border-radius: 8px;
  margin-bottom: 20px;
}

.lista2 {
  list-style: decimal-leading-zero;
  margin-left: 40px;
}

.lista1 li,
.lista2 li {
  display: block;
  margin: 5px 0;
}

.media-blok {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 700px;
  box-shadow: 0 0 6px rgba(0,0,0,0.07);
}

.profil-foto {
  width: 100%;
  border-radius: 10px;
}

.yt-video {
  width: 100%;
  height: 350px;
  border: none;
  border-radius: 10px;
}

@media (max-width: 600px) {
  body {
    margin: 15px;
  }

  h1 {
    font-size: 22px;
  }

  p {
    padding: 10px 14px;
    font-size: 14px;
  }

  .yt-video {
    height: 200px;
  }

  .media-blok {
    padding: 15px;
  }
}
.video-opis {
  background-color: #ffffff;
  padding: 12px 18px;
  border-radius: 8px;
  max-width: 700px;
  margin: 10px auto 25px;
  color: #3a2e4d;
  line-height: 1.6;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
  text-align: left;
}
.interakcija-gumb {
  background-color: #5b3e96;
  color: white;
  padding: 12px 20px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.interakcija-gumb:hover {
  background-color: #7c5dc1;
  transform: scale(1.05);
}

.interakcija-gumb:active {
  background-color: #3a2e4d;
  transform: scale(0.95);
}

.interakcija-gumb:focus {
  outline: 3px solid #c6b5df;
}


.slika-wrapper {
  margin-top: 20px;
  text-align: center;
}

.interaktivna-slika {
  width: 300px;
  border-radius: 12px;
  transition: transform 0.4s ease;
}

.interaktivna-slika:hover {
  transform: scale(1.08);
}
